{% extends "base.html" %}

{% block content %}

<div class="form-container">
    <h2>Add Job Application</h2>

    <form method="POST" action="/add">

        <label>Company_Name</label>
        <input type="text" name="Company_Name" placeholder="Enter company name" required>

        <label>HR Email</label>
        <input type="email" name="HR_Email" placeholder="Enter HR email" required>
 <label>Role</label>
        <input type="text" name="Role" placeholder="Enter role" required>
        <label>Status</label>
        <select name="Status" required>
            <option value="">-- Select Status --</option>
            <option value="Applied">Applied</option>
            <option value="Interview">Interview</option>
            <option value="Rejected">Rejected</option>
            <option value="No reply">No reply</option>
        </select>
         <label>Website_link</label>
        <input type="text" name="Website_link" placeholder="Website_link" required>

        <button type="submit">Add Application</button>

    </form>
</div>

{% endblock %}