{% extends "base.html" %}

{% block content %}

<h2>📊 Analytics Dashboard</h2>

<div class="analytics-container">

    <!-- Total Applications -->
    <div class="card" action = /chart> 
        <h3>Total Applications</h3>
        <p>{{ total }}</p>
    </div>

    <!-- Applied -->
    <div class="card">
        <h3>Applied</h3>
        <p>{{ applied }}</p>
    </div>

    <!-- Interview -->
    <div class="card">
        <h3>Interview</h3>
        <p>{{ interview }}</p>
    </div>

    <!-- Rejected -->
    <div class="card">
        <h3>Rejected</h3>
        <p>{{ rejected }}</p>
    </div>

    <!-- No Reply -->
    <div class="card">
        <h3>No Reply</h3>
        <p>{{ no_reply }}</p>
    </div>

</div>

<!-- Optional Chart -->
<div class="chart-container">
    <h3>Status Distribution</h3>
    <img src="{{ url_for('static', filename='chart.png') }}" alt="Chart">
</div>

{% endblock %}