{% extends "base.html" %}

{% block content %}

<h2>All Applications</h2>

<table class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Email</th>
            <th>Status</th>
            <th>Date Applied</th>
            <th>Website link</th>
            <th>Delete</th> 
        </tr>
    </thead>

    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[2] }}</td>

            <td>
                <form method="POST" action="{{ url_for('update') }}">
                    <input type="hidden" name="Id" value="{{ row[0] }}">

                    <select name="status" onchange="this.form.submit()">
                        <option value="Applied" {% if row[4] == "Applied" %}selected{% endif %}>Applied</option>
                        <option value="Interview" {% if row[4] == "Interview" %}selected{% endif %}>Interview</option>
                        <option value="Rejected" {% if row[4] == "Rejected" %}selected{% endif %}>Rejected</option>
                        <option value="No reply" {% if row[4] == "No reply" %}selected{% endif %}>No reply</option>
                    </select>
                </form>
            </td>

            <td>{{ row[3] }}</td>
            <td> {{row[6]}}</td>
            <td>
                <form method="POST" action="{{ url_for('delete') }}">
                    <input type="hidden" name="Id" value="{{ row[0] }}">
                    <button type="submit" class="delete-btn">🗑️</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}