<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_form.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div class="User_form">
    <h2>User Login</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="">
        <label>Username</label>
        <input type="text" name="Username" placeholder="Enter Username" required>
        <label>Password</label>
            <input type="password" name="Password" placeholder="Enter Password" required>
       <button type="submit">Login</button>
       <a href="/Registration_form">Don't have an account?</a>

    
    </form>

</div>  
</body>
</html>

